# Ignore large or generated artifacts
helper/
output/
outputs/
save/

# Python caches
__pycache__/
*.pyc

# IDE settings
.vscode/
heart_peptide_search-test.csv
heart-y4-inference-fdr.csv
old_pep_search.py
